/*Jacket shop section*/
#jacketSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 10px 10px;
}

#jacketSection li {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #f9f9f9;
    font-family: 'Inter', sans-serif;

}

#jacketSection li img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

#jacketSection li h2 {
    font-size: 25px;
    color: #023047;
    margin: 10px 0;
} 

#jacketSection li p {
    font-size: 20px;
    font-weight: 500;
    color: #023047;
}

#jacketSection li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: 0.3s;
}

/*Trending-items*/

.trending-jacket-1 a {
    text-decoration: none;
}

.trending-jacket-1 a:visited {
    color: #023047;
}

.trending-jackets-container,
.recommended-item-container {
   display: flex;
   justify-content: space-between; 
}

.trending-jacket-1,
.trending-jacket-2,
.trending-jacket-3,
.recommended-item-1,
.recommended-item-2,
.recommended-item-3 {
    text-align: center;
    width: 30%;
    padding: 50px;
}

.trending-jacket-1 img,
.trending-jacket-2 img,
.trending-jacket-3 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.item {
    font-size: 28px;
    color: #023047;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2px;
}

.brand {
    font-size: 20px;
    color: #023047;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
}

.before-price {
    font-size: 20px;
    color: #33586b50;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2px;
}

.price {
    font-size: 28px;
    color: #023047;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-top: 2px;
    margin-bottom: 5px;
}

.price-2 {
    font-size: 28px;
    color: #023047;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 600px) {

    .trending-jackets-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trending-jacket-1,
    .trending-jacket-2,
    .trending-jacket-3 {
        width: 80%;
        margin-bottom: 20px;
    }

    .recommended-item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .recommended-item-1,
      .recommended-item-2,
      .recommended-item-3 {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

}